body {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #000;

    background-color: #fff;
    /* background-image: url(../img/bg.jpg); */
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;

    width: 320px;
}
.stats {

  width: 320px;
  margin: 0 auto;

  /* @media(min-width: 768px) {
    width: 640px;
  } */
}
.stats__wrapper {

  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  /* @media(min-width: 768px) {
    width: 640px;
  } */
}
.stats__header {
  /* max-width: 320px; */
  width: 320px;
  box-sizing: border-box;
  padding: 10px 0px;
  margin: 0 auto;
  /* border: 1px solid #000; */
  /* @media(min-width: 768px) {
    width: 640px;
  } */
}
.page-header {
  display: flex;
  flex-direction: column;

   color: #fff;

    background-color: #000;
}
button {
  border: none;
}
